<section class="app-container">

    <div class="text-center brand-text">
      <h1 class="app--header--spacing">Register & Login Panel Demo!</h1>
      <p class="app--spacing">Angular 4 & Firebase</p>
    </div>

    <router-outlet></router-outlet>

    <!--<div class="fixed-bottom navbar text-center">-->
      <!--<a placement="top" ngbTooltip="GitHub" class="social-icon git fa fa-github fa-3x" href="https://github.com/pawelidziak" target="_blank"></a>-->
      <!--<a placement="top" ngbTooltip="LinkedIn" class="social-icon linkedin fa fa-linkedin-square fa-3x"-->
         <!--href="https://www.linkedin.com/in/pawel-idziak/" target="_blank"></a>-->
      <!--<p class="email">pa.idziak@gmail.com</p>-->
    <!--</div>-->


</section>

