<section class="profile-section">

  <app-header></app-header>

  <div class="container" [@moveIn]>
    <div class="row justify-content-center my-box">

      <p style="padding: 50px 0" *ngIf="anonim">You cannot change profile settings as Anonymous User.</p>

      <div class="col-12 col-md-10 profile-content" *ngIf="!anonim">

        <ngb-alert class="text-center" [type]="checkRes()" *ngIf="response" [dismissible]="false">
          {{response}}
        </ngb-alert>

        <ngb-accordion [closeOthers]="true" activeIds="change-profile">

          <!-- Change Profile -->
          <ngb-panel id="change-profile" title="Change Profile">
            <ng-template ngbPanelContent>

              <div class="row justify-content-center">
                <div class="col-12 col-md-6">

                  <form [(formGroup)]="personalForm" novalidate #f="ngForm" (ngSubmit)="f.form.valid && updatePersonal()">

                    <div class="form-group">
                      <label for="name">Current display name</label>
                      <input class="form-control" type="text" [value]="user.displayName" readonly id="name"/>
                    </div>

                    <div class="form-group">
                      <label for="newName">New display name</label>
                      <input class="form-control" type="text" placeholder="New name.." formControlName="newName"
                             id="newName"/>
                    </div>

                    <p> Here can be file browser to change photo</p>

                    <button type="submit" class="btn btn-primary" id="changePersonal">
                      Save
                    </button>

                  </form>

                </div>
              </div>
            </ng-template>
          </ngb-panel>

          <!-- Change Email -->
          <ngb-panel id="change-email" title="Change Email">
            <ng-template ngbPanelContent>
              <div class="row justify-content-center">
                <div class="col-12 col-md-6">

                  <form [(formGroup)]="emailForm" novalidate #f="ngForm" (ngSubmit)="f.form.valid && updateEmail()">

                    <div class="form-group">
                      <label for="email">Current email</label>
                      <input class="form-control" type="text" [value]="user.email" readonly id="email"/>
                    </div>

                    <div class="form-group">
                      <label for="newEmail">New email</label>
                      <input type="text" class="form-control" formControlName="newEmail" placeholder="New email.."
                             id="newEmail" required/>
                    </div>

                    <button type="submit" [disabled]="!emailForm.valid" class="btn btn-primary" id="changeEmail"
                            [ngClass]="{'disabled': !emailForm.valid}">
                      Save
                    </button>
                  </form>

                </div>
              </div>
            </ng-template>
          </ngb-panel>

          <!-- Change Password -->
          <ngb-panel id="change-password" title="Change Password">
            <ng-template ngbPanelContent>

              <div class="row justify-content-center text-center">
                <div class="col-12 col-md-6">

                  <p class="awarded-text">You can reset your password by clicking the button bellow</p>
                  <button class="btn btn-primary" id="reset" (click)="resetPassword()">Reset password</button>

                </div>
              </div>

            </ng-template>
          </ngb-panel>

        </ngb-accordion>

      </div>
    </div>
  </div>

</section>
