<section class="header-section">
  <nav class="navbar navbar-expand-lg navbar-dark my-header-style">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav"
              aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="myNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']">
            <button type="button" class="btn btn-link nav-link" [routerLink]="['/home']">Home</button>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <button type="button" class="btn btn-link nav-link">Link</button>
          </li>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item" >

            <div ngbDropdown class="d-inline-block" placement="bottom-right" [routerLinkActive]="['active']">

              <div class="text-center nav-link" id="aboutMe" ngbDropdownToggle>
                <i class="fa fa-user-circle align-middle"></i><br>
                <span>{{_authService.currentUserDisplayName}}</span>
              </div>

              <div ngbDropdownMenu aria-labelledby="aboutMe">
                <button class="dropdown-item" [routerLink]="['/profile']" [routerLinkActive]="['active']">Profile</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" (click)="logout()">Logout</button>
              </div>
            </div>

          </li>
        </ul>

      </div> <!-- /myNav -->
    </div> <!-- /container -->
  </nav>

</section>
