<section class="forgot-password-section container" [@fadeInAnimation]>

  <div class="row justify-content-center">
    <div class="col-12 col-md-7">

      <div class="my-box">

        <div class="my-box-header text-center">
          <a id="arrow-back" (click)="goBack()"></a>
          <span class="header-spacing">Forgot password</span>
        </div>

        <div class="my-box-content text-center row justify-content-center align-items-center">

          <div class="col-12 col-md-6">
            <img src="assets/images/email.svg" class="welcome-icon" style="opacity: 0.6">
            <div class="awarded-text">You can reset your password here. The instructions will be send to Your e-mail.
            </div>
          </div>  <!-- /lewa kolumna -->

          <div class="col-12 col-md-6">

            <ngb-alert class="text-center" type="danger" *ngIf="error" [dismissible]="false">
              {{error}}
            </ngb-alert>
            <ngb-alert class="text-center" type="success" *ngIf="response" [dismissible]="false">
              {{response}}
            </ngb-alert>

            <div class="row justify-content-center" *ngIf="_authService.loading">
              <div class="loading"></div>
            </div>

            <form #formData='ngForm' (ngSubmit)="resetPassword()">

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email.." [(ngModel)]="email" name="email"
                       required/>
              </div>

              <button [disabled]="!formData.valid" class="btn btn-lg btn-primary" id="reset"
                      [ngClass]="{'disabled': !formData.valid}">
                Reset password
              </button>

            </form>

          </div>  <!-- /prawa kolumna -->

        </div>  <!-- /my-box-content -->

      </div> <!-- /my-box -->
    </div>
  </div>
</section>
