<section class="register-section container">

  <div class="row justify-content-center">
    <div class="col-12 col-md-10">

      <!-- BOX -->
      <div class="my-box">

        <!-- BOX header -->
        <div class="my-box-header">
          <div class="row justify-content-around text-center">
            <button class="box-button" [routerLink]="['/login']">Login</button>
            <button class="box-button my-active">Register</button>
          </div>
        </div>

        <!-- BOX content -->
        <div class="row justify-content-center my-box-content">

          <div class="col-12 col-md-6" style="padding-bottom: 50px">
            <p class="text--awarded--spacing">It is simply and free!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat. </p>
          </div>

          <div class="col-12 col-md-6">
            <form [(formGroup)]="registerForm" novalidate #f="ngForm" (ngSubmit)="f.form.valid && register()">

              <div class="form-group">
                <input type="text" class="form-control" formControlName="name" [(ngModel)]="name.value" required
                       placeholder="Name*"/>
                <ngb-alert type="danger" *ngIf="f.submitted && !name.valid" [dismissible]="false">
                  Name is require
                </ngb-alert>
              </div>

              <div class="form-group">
                <input type="email" class="form-control" formControlName="email" [(ngModel)]="email.value" required
                       placeholder="Email*"/>
                <ngb-alert type="danger" *ngIf="f.submitted && !email.valid" [dismissible]="false">
                  Wrong email. Example: pa.idziak@gmail.com
                </ngb-alert>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" formControlName="password" [(ngModel)]="password.value"
                       required
                       placeholder="Password*"/>
                <ngb-alert type="danger" *ngIf="f.submitted && !password.valid" [dismissible]="false">
                  Wrong password. Password requirements: 8-30 marks, small letter, big letter, digit and special
                  character
                </ngb-alert>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" formControlName="confirmPassword" required
                       placeholder="Confirm password*"/>
                <ngb-alert type="danger" *ngIf="f.submitted && confirmPassword.value !== password.value"
                           [dismissible]="false">
                  Password mismatch
                </ngb-alert>
              </div>

              <div class="form-group text-center">
                <button [disabled]="loading" class="btn btn-outline-success" type="submit">Register</button>
                <img *ngIf="loading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
              </div>
            </form>
          </div>

        </div> <!-- /BOX content -->
      </div><!-- /BOX -->

    </div>
  </div> <!-- /row -->

</section>
