<section class="register-section container">

  <div class="row justify-content-center">
    <div class="col-12 col-md-7">

      <div class="my-box">

        <div class="my-box-header text-center">
          <a id="arrow-back" (click)="goBack()"></a>
          <span class="header-spacing">Register</span>
        </div>

        <div class="my-box-content text-center row align-items-center">

          <div class="col-12 col-md-6">
            <img src="assets/images/account.svg" class="welcome-icon">
            <p class="awarded-text">It is simply and free!</p>
          </div>

          <div class="col-12 col-md-6">
            <ngb-alert class="text-center" type="success" *ngIf="response" [dismissible]="false">
              {{response}}
            </ngb-alert>
            <ngb-alert class="text-center" type="danger" *ngIf="error" [dismissible]="false">
              {{error}}
            </ngb-alert>

            <div class="row justify-content-center" *ngIf="_authService.getLoading">
              <div class="loading"></div>
            </div>

            <form [(formGroup)]="registerForm" novalidate #f="ngForm" (ngSubmit)="f.form.valid && register()">

              <div class="form-group">
                <input type="text" class="form-control" formControlName="name" (ngModel)="name.value" required
                       placeholder="Name*"/>
                <ngb-alert type="danger" *ngIf="f.submitted && !name.valid" [dismissible]="false">
                  Name is require
                </ngb-alert>
              </div>

              <div class="form-group">
                <input type="email" class="form-control" formControlName="email" (ngModel)="email.value" required
                       placeholder="Email*"/>
                <ngb-alert type="danger" *ngIf="f.submitted && !email.valid" [dismissible]="false">
                  Wrong email. Example: pa.idziak@gmail.com
                </ngb-alert>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" formControlName="password" (ngModel)="password.value"
                       required
                       placeholder="Password*"/>
                <ngb-alert type="danger" *ngIf="f.submitted && !password.valid" [dismissible]="false">
                  Wrong password. Password requirements: 8-30 marks, small letter, big letter, digit and special
                  character
                </ngb-alert>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" formControlName="confirmPassword" required
                       placeholder="Confirm password*"/>
                <ngb-alert type="danger" *ngIf="f.submitted && confirmPassword.value !== password.value"
                           [dismissible]="false">
                  Password mismatch
                </ngb-alert>
              </div>

              <div class="form-group text-center">
                <button [disabled]="_authService.getLoading" class="btn btn-primary" type="submit" id="register">Register</button>
              </div>
            </form>
          </div>

        </div> <!-- /my-box-content -->

      </div> <!-- /my-box -->
    </div>
  </div>

</section>
