<section class="login-page-section container">

  <div class="row justify-content-center">
    <div class="col-12 col-md-7">

      <div class="my-box">

        <div class="my-box-header text-center">
            <span class="header-spacing">Login</span>
        </div>

        <div class="my-box-content text-center row">

          <div class="col-12 col-md-6">
            <img src="assets/images/lock.svg" class="welcome-icon">
            <p class="welcome-text">You can login using your social media or anonymously</p>
          </div>

          <div class="col-12 col-md-6">

            <button class="login-button" id="google" (click)="googleLogin()">Login with Google</button>
            <button class="login-button" id="fb">Login with Facebook</button>
            <button class="login-button" id="github">Login with GitHub</button>
            <button class="login-button" id="anonim">Anonymously</button>
            <button class="login-button" routerLink="/login-email" id="email">Email</button>

            <a routerLink="/register" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>

          </div>

        </div>

      </div>
    </div>
  </div>
</section>

