#google {
  background: #fff url('../../../assets/images/google.svg') no-repeat 25px;
  background-size: 25px;
}

#fb {
  background: #3B5998 url('../../../assets/images/facebook.svg') no-repeat 15px -12px;
  background-size: 45px;
  color: #fff;
}

#github {
  background: #f9f9f9 url('../../../assets/images/github.svg') no-repeat 25px;
  background-size: 25px;
}

#anonim {
  background: #F5F5F5 url('../../../assets/images/face.svg') no-repeat 25px;
  background-size: 25px;
}

#email {
  background: #ECECEC url('../../../assets/images/email.svg') no-repeat 25px;
  background-size: 25px;
}


@media (max-width: 350px), (min-width: 768px) and (max-width: 1199px) {
  #google {
    background: #fff;
  }

  #fb {
    background: #3B5998;
  }

  #github {
    background: #f9f9f9;
  }

  #anonim {
    background: #D7CCC8;
  }

  #email {
    background: #ECECEC;
  }
}
