<section class="login-page-section container">

  <div class="row justify-content-center">
    <div class="col-12 col-md-7">

      <div class="my-box">

        <div class="my-box-header text-center">
          <span class="header-spacing">Login</span>
        </div>

        <div class="my-box-content text-center row justify-content-center align-items-center">

          <div class="col-12 col-md-6">
            <img src="assets/images/lock.svg" class="welcome-icon">
            <p class="awarded-text">You can login using your social media or anonymously</p>
          </div>

          <div class="col-12 col-md-6">

            <ngb-alert class="text-center" type="danger" *ngIf="error" [dismissible]="false">
              {{error}}
            </ngb-alert>

            <div class="row justify-content-center" *ngIf="_authService.getLoading">
              <div class="loading"></div>
            </div>

            <button class="my-button" id="google" (click)="googleLogin()">Login with Google</button>
            <button class="my-button" id="fb" (click)="facebookLogin()">Login with Facebook</button>
            <button class="my-button" id="github" (click)="githubLogin()">Login with GitHub</button>
            <button class="my-button" id="anonim" (click)="anonymousLogin()">Anonymously</button>
            <button class="my-button" routerLink="/login-email" id="email">Email</button>

            <a routerLink="/register" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>

          </div>

        </div>

      </div>
    </div>
  </div>
</section>
